h1{
font-family: verdana,Geneva, Verdana, sans-serif, Tahoma, sans-serif;
color:white;
font-size: 60px;
float:left;
}

body {
    background-image: url("Orbitkey-v2-2.jpg");
}

p{
    font-family: verdana,Geneva, Verdana, sans-serif, Tahoma, sans-serif;
color:white;
    float:left;
    font-size:20px;
}


   nav{
    background-color:dimgrey;
    border: solid dimgrey;
    height:100px;
    width: 90%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
    
    
nav a {
    text-decoration: none;
    color: white;
    font-family: verdana,Geneva, Verdana, sans-serif, Tahoma, sans-serif;
    text-align: right;
    float:right;
    padding-left:20px;
}



#leftcolumn{
    width:30%;
    background-color:dimgrey;
    float:left;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}


#rightcolumn{
    width:29%;
    background-color:dimgrey;
    float:right;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#center{
    width:65%;
    background-color: red;
}

.border {
    width:200px;
    height:200px;
    border:white 3px;
     
}

